*{
    color:#fff
}
.bg{
    background: url(./img/coffee-laptop-on-desk-q4x3so53kou4pngw.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}
.form-container{
    padding: 40px 60px;
    border: 0px solid #fff;
    margin-top: 30vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}